# AWS Config

variable "aws_access_key"  {
  default = "ADD_YOUR_AWS_ACCESS_KEY_HERE"
}

variable "aws_secret_key" {
  default = "ADD_YOUR_AWS_SECRET_KEY_HERE"
}

variable "aws_region" {
  default = "us-east-1"
}
